.sidebar {
  width: 350px;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  transition: width 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.sidebar.closed {
  width: 55px;
}

.header {
  background-color: rgba(68, 68, 68, 0.9);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 12px;
}

.content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.team-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #6499ff;
  border: none;
  padding: 10px;
  width: 95%;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 25px;
  margin-top: 50px;
  transition: width 0.3s ease;
}

.sidebar.closed .team-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.sidebar.closed .team-btn::before {
  content: "👥";
  font-size: 20px;
}

.boards {
  background-color: #3e3e3e;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid #6499ff;
  margin-top: 60px;
  font-size: 20px;
  transition: width 0.3s ease;
}

.boards-title {
  color: white;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 25px;
  transition: opacity 0.3s ease;
}

.sidebar.closed .boards-title {
  opacity: 0;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4e4e4e;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar.closed .board ::before {
  padding: 0;
}
.board-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.pink {
  background-color: rgb(249, 102, 205);
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
.blue {
  background-color: lightblue;
}
.gray {
  background-color: gray;
}

.board-name {
  flex-grow: 1;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.sidebar.closed .board-name {
  opacity: 0;
}

.delete-board {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.archive-section {
  padding: 10px;
}

.archive-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6499ff;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
  font-size: 25px;
  transition: width 0.3s ease;
}

.sidebar.closed .archive-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.sidebar.closed .archive-btn::before {
  content: "🗂";
  font-size: 20px;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
