.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  background-color: #2c2c2c;
}

.home-page h1 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.home-page h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.home-page p {
  align-self: self-start;
  font-weight: 500;
  font-size: x-large;
  margin: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  margin-top: -10px;
}

.modify-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  background-color: #6499ff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: large;
}

.edit-input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
}

.user-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex-wrap;
  flex-direction: column;
  width: 100vw;
  max-width: 1240px;
}

.pro-collab-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 1060px) {
  .home-page h1 {
    font-size: 1.5rem;
  }

  .home-page h2 {
    font-size: 1.3rem;
  }

  .home-page p {
    font-size: large;
  }

  .modify-btn {
    padding: 5px 15px;
    font-size: medium;
  }

  .edit-input {
    font-size: 0.9rem;
  }

  .user-pic {
    width: 60px;
    height: 60px;
  }

  .main-content {
    padding: 15px;
  }
  .projects-section {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  .home-page h1 {
    font-size: 1.2rem;
  }

  .home-page h2 {
    font-size: 1.1rem;
  }

  .home-page p {
    font-size: medium;
  }

  .modify-btn {
    padding: 5px 10px;
    font-size: small;
  }

  .edit-input {
    font-size: 0.8rem;
  }

  .user-pic {
    width: 50px;
    height: 50px;
  }

  .main-content {
    max-width: 100%;
  }
}
