.add-task-button {
  margin-top: 20px;
  margin-left: 135px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #6499ff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-task-button:hover {
  background-color: #507acc;
}
.table-container {
  display: flex;
  margin-top: 20px;
  margin-left: 135px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: solid #6499ff;
  width: 80vw;
  text-align: center;
  height: 200px;
}
.table-container h1 {
  color: #6499ff;
  margin-left: 15px;
  font-size: 18px;
}
.table-afaire {
  display: flex;
  margin-top: 20px;
  margin-left: 135px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: solid #6499ff;
  width: 80vw;
  text-align: center;
  height: 200px;
}
.table-afaire h1 {
  color: #6499ff;
  margin-left: 15px;
  font-size: 18px;
}
.table-encours {
  display: flex;
  margin-top: 20px;
  margin-left: 135px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: solid #6499ff;
  width: 80vw;
  text-align: center;
  height: 200px;
}
.table-encours h1 {
  color: #6499ff;
  margin-left: 15px;
  font-size: 18px;
}
.table-terminer {
  display: flex;
  margin-top: 20px;
  margin-left: 135px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: solid #6499ff;
  width: 80vw;
  text-align: center;
  height: 200px;
}
.table-terminer h1 {
  color: #6499ff;
  margin-left: 15px;
  font-size: 18px;
}
.table-icon {
  color: white;
  cursor: pointer;
}
hr {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color: #bb64ff;
  border-color: #bb64ff;
  height: 1px;
  width: 65em;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title h1,
.title input {
  color: #000000;
  height: 90px;
  border-radius: 15px;
  font-size: 50px;
  background-color: #bb64ff;
  text-align: center;
  margin: 0 auto;
  min-width: 220px;
  padding: 0 10px;
}
.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title input {
  text-align: center;
  border: none;
  outline: none;
}
.task-list li {
  color: white;
  text-align: left;
  padding: 10px;
  margin-top: 45px;
  cursor: pointer;
}
.modal-content h2 {
  margin-bottom: 10px;
}
.modal-content p {
  margin-top: 0;
  white-space: pre-wrap;
}
