.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 39, 39, 1) 100%
  );
  font-family: "Anek Bangla";
  position: relative;
  background-size: cover;
  color: linear-gradient(
    70deg,
    rgba(100, 153, 255, 1) 0%,
    rgba(187, 100, 255, 1) 100%
  );
}

.group-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.login-btn {
  background: linear-gradient(
    70deg,
    rgba(100, 153, 255, 1) 0%,
    rgba(187, 100, 255, 1) 100%
  );
  color: #e8e8e8;
  border: none;
  padding: 10px 30px;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0;
}
.signup-btn {
  background: linear-gradient(
    70deg,
    rgba(100, 153, 255, 1) 0%,
    rgba(187, 100, 255, 1) 100%
  );
  color: #e8e8e8;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0;
}

.font-style {
  font-weight: 900;
  font-size: 10vw;
  color: #d3cdee;
  margin-top: 5%;
  margin-bottom: -55px;
  font-family: "Anek Bangla", sans-serif;
}

.logo-devlog {
  width: 308px;
  margin-bottom: 20px;
}

span {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  font-family: "Anek Bangla", sans-serif;
  margin: 0 0;
}

span.gradient-text {
  background: linear-gradient(
    70deg,
    rgba(100, 153, 255, 1) 0%,
    rgba(187, 100, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.AutoAwesomeIcon {
  margin: 10px 10px;
  color: yellow;
}

text {
  color: white;
  font-style: normal;
  margin-bottom: 30px;
  font-size: 15px;
}
